bcrypt==4.0
passlib==1.7.4
python-jose==3.3.0
python-multipart==0.0.6
alembic==1.9
black==22.12
Faker==18.3
fastapi==0.95
psycopg2-binary==2.9
SQLAlchemy==2.0
uvicorn==0.20
pydantic==1.10
pytest==7.2
httpx==0.23
email-validator==2
python-dotenv==1.0